body {
  margin: 0;
  display: flex;
  place-items: start stretch;
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  font-size: 1.15rem;
}
.cm-editor {
  background-color: transparent;
}
pre,
code,
.font-monospace {
  font-family: 'IBM Plex Mono', monospace;
}

.cm-line-result {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
